@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añade aquí estilos personalizados para Flowbite si los necesitas */

/* Ejemplo: modo oscuro (opcional)
   Puedes gestionar .dark en el <html> o <body> para activar el tema oscuro */


@custom-variant dark (&:where(.dark, .dark *));